@font-face {
	font-family: 'Redacted';
	src: url('../assets/fonts/Redaction_70-Italic.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'Redacted Reg';
	src: url('../assets/fonts/Redaction_70-Regular.woff2') format('woff2');
	font-display: fallback;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
	background: yellow;
	color: #ff0000;
  }

html {
	width: 100%;
	height: 100%;
	/* font-family: "Atlas Grotesk Web Regular" */
	padding: 0px;
	margin: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
	--diameter: 900px;

  }

body {
	/* add gradient */
	background: radial-gradient(circle at center, #0066FF 0, #ffffff calc(100% - 25vw), #ffffff 100%);
	background-repeat: no-repeat;
	height: 100%;
	padding: 0px;
	margin: 0px;
	backdrop-filter: blur(100px);	
	overflow: hidden;
}

#container {
	width: 100%;
	height: fit-content;
}

#main-container {
	position: absolute;
	z-index: 200;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	opacity: 1.0;
	transform: translate(-50%, -50%);
	transition: transform 1.5s ease-in-out;
	border-radius: 200px;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px); 
	-ms-filter: blur(0px);
	filter: blur(0px);

}


@-webkit-keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes fadeout-about {
	0% { -webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-o-filter: blur(15px); -ms-filter: blur(15px);
		filter: blur(15px);
		opacity: 0.2;
	 }
	100% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 0;
	 }
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes blurin {
	0% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 1.0;}
	100% { -webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px); -ms-filter: blur(5px);
		filter: blur(5px);
		opacity: 0.2;
		}
}

@-webkit-keyframes blurin-index {
	0% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 1.0;}
	100% { -webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px); -ms-filter: blur(5px);
		filter: blur(5px);
		opacity: 0.2;
		}
}


@-webkit-keyframes blurout {
	0% { -webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-o-filter: blur(15px); -ms-filter: blur(15px);
		filter: blur(15px);
		opacity: 0.2;
	 }
	100% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 1.0;
	 }

	
}

@-webkit-keyframes blurout-index {
	0% { -webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px); -ms-filter: blur(10px);
		filter: blur(10px);
		opacity: 0.2;
	 }
	100% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 1.0;
	 }

	
}

@-webkit-keyframes blurout-about {
	0% { -webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		-o-filter: blur(15px); -ms-filter: blur(15px);
		filter: blur(15px);
		opacity: 0.3;
	 }
	100% { -webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px); -ms-filter: blur(0px);
		filter: blur(0px); opacity: 0;
	 }

	
}

#main-container::-webkit-scrollbar {
	display: none;
}

p {
	font-size: 2rem;
	overflow: hidden;
	
}

#url-container {
	position: absolute;
	z-index: 800;
	top:0;
}

#flex-cont-url {
	display: flex;
	flex-direction: column;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: bold;
	font-size: 2rem;
	color: #0066FF;
}

#content-exit-container {
	font-family: 'Redacted Reg';
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	opacity: 0%;
	color: #0066FF;
}

#name-cont {
	cursor: pointer;
	font-style: normal;
	margin-top: 20px;
	margin-left: 20px;
}

#about-cont {
	cursor: pointer;
	font-style: normal;
	margin-top: 20px;
	margin-left: 20px;
	transform: translate(0%, 0%);
	transition: transform 1s ease-in-out;
}

#index-cont {
	cursor: pointer;
	font-style: normal;
	margin-top: 20px;
	margin-left: 20px;
	transform: translate(0%, 0%);
	transition: transform 1s ease-in-out;
}


.about-text-cont {
	position: absolute;
	z-index: 100;
	/* top: 80px; */
	/* left: 200px; */
	/* right:200px; */
	/* width: calc(100vw - (200px + 20px)); */
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-left: 250px;
	padding-right: 150px;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	

  margin-top: 60px;
  padding-bottom: 40px;
}

.index-text-cont {
	position: absolute;
	z-index: 100;
	/* top: 80px; */
	/* left: 200px; */
	/* right:200px; */
	/* width: calc(100vw - (200px + 20px)); */
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-left: 250px;
	padding-right: 150px;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	text-wrap: wrap;

	margin-top: 60px;
	padding-bottom: 40px;
}


.index-list {
	list-style-type: gujarati;
	text-wrap: wrap;
	display: flex;  
	flex-direction: column;
	
}

.index-list li {
	cursor: pointer;
	
}

.index-list li:hover {
	color: red;
	text-decoration: yellow wavy underline;
}

.list-text {
	font-family: 'Redacted Reg';
	margin-top: 20px;
	color: red;
}

.about-text-cont::-webkit-scrollbar {
	display: none;
}

.about-arrow {
	font-weight: 500;
	margin-left: 10px;
	cursor: pointer;
	color: yellow;
	width: 20px;
	height: auto;
}

a{
	text-decoration: none;
}

.parent-about-tc{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	gap: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 3rem;
	margin-bottom: 100px;
}

.parent-index-tc{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	gap: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 3rem;
	margin-bottom: 100px;
	padding-left: 20px;
}

.patc-header {
	font-weight: 400;
}

.patc-link-cont {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 60px;
	font-style: italic;
}

.patc-space {
	height: 10px;
}

#emoji-cont {
	cursor: pointer;
	font-weight: normal;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
}

.node{
	cursor: pointer;
}

#project-cont {
	position: absolute;
	z-index: 400;
	width: 100%;
	height: 100%;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	/* background-color: #0066FF; */
	opacity: 1;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
	transform: translate(0%, 100%);
	transition: transform 1s ease-in-out;
	margin: auto;
}

#project-cont::-webkit-scrollbar {
	display: none;
}

.project-head-space{
	height: 10px;
}

.project-window {
	background-color: rgb(252, 252, 252);
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* border-radius: 500px; */
	width: 60%;
	height: fit-content;
	margin: auto;
	/* opacity: 0; */
	z-index: 400;
	/* background: linear-gradient(  #e4e4e4e6, #84b5ffe7); */
	background: #0066ff00;
	/* box-shadow: 0px 0px 50px 0.5px #0066FF; */
	shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - 15px), #fff 0);
	padding-top: 70px;
	padding-bottom: 70px;
	gap: 50px;
}

.project-text-header {
	font-family: 'Redacted';
	/* font-style: bold; */
	font-size: 3rem;
	color: #ffff00;
	text-align: center;
	letter-spacing: 5px;
	
}

.project-text-body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: bold;
	font-size: 1.5rem;
	color: black;
	display: flex;
	flex-direction: column;
	gap:50px;
}

.text-body {
	text-align: left;
}

.text-body a{
	color: #ff0000;
}

.text-body-arrow {
	color: #0066FF;
	margin-right: 10px;
}



.text-body-date {
	color: red;
	margin-right: 10px;
}

.text-body-place {
	font-style: italic;
	margin-left: 10px;
}

.text-body-image {
	border-radius: 0px;
	max-width: 100%; height: auto; 
}

.video-frame {
	height: 500px;
    width: 100%;
    border: 0px black solid;
}

.project-image {
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
	margin: auto;
}

.project-image-double {
	width: 100%;
	height: auto;
	display: flex;
	text-align: center;
	margin: auto;
	flex-direction: row;
	gap: 5px;
}

.project-image-double img{
	max-width: 50%; 
	object-fit: scale-down;
	border-radius: 0px;
}


.arrow-slider {
	display: flex;
	flex-direction: row;
	gap:20px;
	justify-content: center;
}

.sl-arrow {
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
}

.sr-arrow {
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
}

.s-emoji {
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
}

.flex-cont{
	display: flex;
	flex-direction: row;
	width: 300%;
	height: fit-content;
	transform: translate(0%);
	transition: transform 1s ease-in-out;
}

.flex-cont section {
	flex-basis: 100%;
	justify-content: center;
}

section {
	width: 100%;
}

.node-gif {
	cursor: pointer;
}

.node-text {
	font-size: 2rem;
}

.tooltip-name {
	padding: 10px;
	background-color: #3333337e;
	border-radius: 15px;
    display: none;
    position: absolute;
	font-size: 4rem;
	font-family: 'Redacted Reg';
	color: #FFC83D;
	font-weight: 800;
	pointer-events: none
}

.tooltip-tag {
	padding: 10px;
	background-color: #ffffff7e;
	border-radius: 15px;
    display: none;
    position: absolute;
	font-size: 1rem;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #ff0000;
	font-weight: 800;
	pointer-events: none;
	font-style: italic;	
}

#nodes {
	width: 100%;
	height: 100%;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Desktop Breakpoints */

@media screen and (max-width: 1600px){
	.project-window {
		/* width: 95%;
		padding-right: 200px;
		padding-left: 200px; */
	}

	.parent-about-tc {
		font-size: 1.7rem;
	}

	.parent-index-cont {
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 1200px){
	.text-body {
		font-size: 1.2rem;
	}

	.parent-about-tc {
		font-size: 1.7rem;
	}

	.parent-index-cont {
		font-size: 1.7rem;
	}

	.project-window {
		width: 85%;
	}
}

@media screen and (max-width: 1024px) {
	.parent-about-tc {
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.parent-index-cont {
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.about-text-cont {
		padding-right: 50px;
	}

}

/* Mobile Breakpoints */

@media screen and (max-width: 768px) {
	#url-container {
		width: 100%;
	}

	#flex-cont-url {
		flex-direction: row;
		justify-content: space-between;
		position: block;
		width: 100%;
		gap: 0px;
	}

	#name-cont {
		order: 3;
		display: none;
	}

	#about-cont {
		order: 2;
		margin-left: 0px;
		margin-right: 20px;
	}

	#emoji-cont {
		order: 1;
	
	}

	.about-text-cont {
		padding-left: 20px;
		padding-right: 20px;
		-webkit-mask: 
			linear-gradient( to bottom,    transparent, black 100px) top, 
			linear-gradient( to top, transparent, black 200px) bottom;
		-webkit-mask-size: 100% 52%; /* each one half the size */
		-webkit-mask-repeat:no-repeat;
		mask-repeat:no-repeat;
	}

	.index-text-cont {
		padding-left: 20px;
		padding-right: 20px;
		-webkit-mask: 
			linear-gradient( to bottom,    transparent, black 100px) top, 
			linear-gradient( to top, transparent, black 200px) bottom;
		-webkit-mask-size: 100% 52%; /* each one half the size */
		-webkit-mask-repeat:no-repeat;
		mask-repeat:no-repeat;
	}

	.parent-about-tc {
		font-size: 1.5rem;
		margin-top: 40px;	
	}

	.index-list {
		font-size: 1.5rem;
		margin-top: 40px;	
		padding-left: 20px;
	}

	.project-window {
		/* padding-left: 20px;
		padding-right: 20px; */
		width: 85%;
	}

	.text-body-image {
		max-width: 100%;
	}

	.project-image-double {
		flex-direction: column;
		gap: 50px
	}

	.project-image-double img{
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.parent-about-tc {
		font-size: 1.5rem;
	}

	.index-list {
		font-size: 1.5rem;
	}

	.patc-link-cont {
		flex-wrap: wrap;
		row-gap: 20px;
		padding-right: 10px;
		column-gap: 30px;
	}

	.tooltip-name {
		
		font-size: 1.5rem;
	}

	.project-window {
		/* padding-left: 20px;
		padding-right: 20px; */
		width: 85%;
	}
}

@media screen and (max-width: 450px) {
	#flex-cont-url {
		font-size: 1.5rem;
	}

	.parent-about-tc {
		font-size: 1.2rem;
	}

	.index-list {
		font-size: 1.2rem;
	}

	.text-body {
		font-size: 1.2rem;
		
	}

}






